h1,h2{
    color: #000;
    font-family: african;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9d2b20;
}
nav a>img{
    height: 140px;
    border-radius: 50%;
}
nav h3{
    vertical-align: 70%;
}
nav a:last-of-type button{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #6f7f7f;
}
.container1{
    padding: 350px 0;
    background-image: url(images/dfe2d55c54a8d836c04f37874ea28e80.jpg);
}
.container2{
    background-color: #9d2b20;
    padding: 120px 0;
}
.col-8{
    display: flex;
    justify-content: center;
}
.left{
    height: 550px;
    width: 940px;
    background-image: url(images/H4091-L143757687.jpg);
    opacity: 0.6;
    z-index: 1;
}
.form{
    background-color: #6f7f7f;
    height: 550px;
    position: absolute;
    margin-left: 25%;
    z-index: 2;
}
.form h2{
    text-align: center;
}
label{
    font-size: 20px;
    font-weight: bold;
}
#first input{
    margin-left: 30px;
    width: 250px;
    height: 30px;
}
#second span{
    margin-left: 40px;
}
#second input{
    width: 60px;
    height: 20px;
}
#third{
    margin-left: 100px;
}
#third input{
    height: 20px;
}
#fourth span{
    margin-left: 30px;
}
#other{
    margin-left: 97px;
}
form button{
    margin-left: 20%;
    width: 240px;
    height: 50px;
}
footer{
    text-align: center;
    padding: 30px 0;
    background-image: url(images/709616122534e90b8c2a289ce0a07f9b.jpg);
}