nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9d2b20;
}
nav a>img{
    height: 200px;
    border-radius: 50%;
}
nav h3{
    vertical-align: 70%;
}
nav h3,
